body {
  --accent-color: #f59e0b;
  --bg-color: #e5e5e5;
  --text-color: #171717;
  --button-text-color: var(--bg-color);
  --transition-duration: 300ms ease-in-out;

  background-color: var(--bg-color);
  color: var(--text-color);

  margin: 0;
  padding: 1rem;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  transition: var(--transition-duration);
  overflow: hidden;
}

body.__dark-mode {
  --bg-color: #171717;
  --text-color: #e5e5e5;
}

.__mode-indicator {
  --rotation: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  height: 200vmin;
  pointer-events: none;
  transform: rotate(calc(var(--rotation) * 1deg));
  transition: var(--transition-duration);
}

.__dark-mode-icon,
.__light-mode-icon {
  position: absolute;
}

.__dark-mode-icon {
  top: 3%;
  scale: 1.5;
  opacity: 0;
}

.__light-mode-icon {
  bottom: 3%;
  scale: 1.5;
  opacity: 1;
}

.__dark-mode .__dark-mode-icon {
  opacity: 1;
}

.__dark-mode .__light-mode-icon {
  opacity: 0;
}

h1 {
  font-size: 3.5rem;
  margin-top: 0;
}

.__swapper-button {
  background-color: var(--accent-color);
  color: var(--button-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  border: 0;
  outline: 0;
  border-radius: 0.25rem;
  padding: 1rem 2rem;
  cursor: pointer;
  gap: 0.5rem;
  transition: var(--transition-duration);
}

.__swapper-button:hover,
.__swapper-button:active {
  scale: 1.05;
}
